<form class="{{cssClass}} distortion flexcol" autocomplete="off">

    {{!-- Cabecera de la Hoja --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'PM_TTRPG.SheetLabels.Distortion'}}"/></h1>
            <div class="grid grid-2col">
                <div class="resource flex-group-center">
                    <label for="system.attributes.rank.value" class="resource-label">{{localize 'PM_TTRPG.Attributes.Rank'}}</label>
                    <input type="text" name="system.attributes.rank.value" value="{{system.rank}}" data-dtype="Number" max="6"/>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.level.value" class="resource-label">{{localize 'PM_TTRPG.Attributes.Level'}}</label>
                    <input type="text" name="system.level.value" value="{{system.level.value}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>

    {{!-- Navegación de Pestañas --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">{{localize 'PM_TTRPG.Tabs.Stats'}}</a>
        <a class="item" data-tab="inventory">{{localize 'PM_TTRPG.Tabs.Inventory'}}</a>
        <a class="item" data-tab="notes">{{localize 'PM_TTRPG.Tabs.Notes'}}</a>
    </nav>

    {{!-- Cuerpo de la Hoja --}}
    <section class="sheet-body">

        {{!-- Pestaña de Estadísticas --}}
        <div class="tab stats" data-group="primary" data-tab="stats">
            <div class="grid grid-3col">
                <div class="resource flex-group-center">
                    <label for="system.health_points.value" class="resource-label">{{localize 'PM_TTRPG.Stats.HealthPoints'}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.health_points.value" value="{{system.health_points.value}}" data-dtype="Number"/>
                        <span>/</span>
                        <input type="text" name="system.health_points.max" value="{{system.health_points.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.stagger_threshold.value" class="resource-label">{{localize 'PM_TTRPG.Stats.StaggerThreshold'}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.stagger_threshold.value" value="{{system.stagger_threshold.value}}" data-dtype="Number"/>
                        <span>/</span>
                        <input type="text" name="system.stagger_threshold.max" value="{{system.stagger_threshold.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.attributes.light.value" class="resource-label">{{localize 'PM_TTRPG.Attributes.Light'}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.light.value" value="{{system.attributes.light.value}}" data-dtype="Number"/>
                        <span>/</span>
                        <input type="text" name="system.attributes.light.max" value="{{system.attributes.light.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.mentality.value" class="resource-label">{{localize 'PM_TTRPG.Stats.Mentality'}}</label>
                <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="system.mentality.value" value="{{system.mentality.value}}" data-dtype="Number"/>
                    <span>/</span>
                    <input type="text" name="system.mentality.max" value="{{system.mentality.max}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="resource flex-group-center">
                <label for="system.risk" class="resource-label">{{localize 'PM_TTRPG.Stats.Risk'}}</label>
                <select name="system.risk">
                    <option value="zayin" {{'#if (eq system.risk "zayin")'}}selected{{'/if'}}>{{localize 'PM_TTRPG.Options.Zayin'}}</option>
                    <option value="teth" {{'#if (eq system.risk "teth")'}}selected{{'/if'}}>{{localize 'PM_TTRPG.Options.Teth'}}</option>
                    <option value="he" {{'#if (eq system.risk "he")'}}selected{{'/if'}}>{{localize 'PM_TTRPG.Options.He'}}</option>
                    <option value="waw" {{'#if (eq system.risk "waw")'}}selected{{'/if'}}>{{localize 'PM_TTRPG.Options.Waw'}}</option>
                    <option value="aleph" {{'#if (eq system.risk "aleph")'}}selected{{'/if'}}>{{localize 'PM_TTRPG.Options.Aleph'}}</option>
                </select>
            </div>

            <div class="abilities flexcol">
                {{#each system.abilities as |ability key|}}
                    <div class="ability flexrow flex-group-center">
                        <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-label="{{localize (lookup @root.config.abilities key)}}">
                            {{localize (lookup @root.config.abilities key)}}
                            <span class="dice-icon rollable" title="{{localize 'PM_TTRPG.Tabs.Stats'}} Roll d20">
                            <img class="dice-icon rollable" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="d20 Dice" width="32" height="32"/>
                        </span>
                        </label>
                        <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                        <span class="ability-mod rollable" data-roll="2d6+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">
                        <span class="mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <span class="dice-icon rollable" title="{{localize 'PM_TTRPG.Tabs.Stats'}} Roll 2d6">
                            <img class="dice-icon rollable" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
                        </span>
                    </span>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!-- Pestaña de Inventario --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            <div class="item-list">
                {{#each actor.items as |item|}}
                    <div class="item flexrow" data-item-id="{{item._id}}">
                        <img src="{{item.img}}" width="24" height="24" alt="{{item.name}}"/>
                        <div class="item-name">{{item.name}}</div>
                        <input type="text" name="system.items.{{item._id}}.quantity" value="{{item.system.quantity}}" data-dtype="Number" style="width: 50px;"/>
                    </div>
                {{/each}}
            </div>
        </div>

        {{!-- Pestaña de Notas --}}
        <div class="tab notes" data-group="primary" data-tab="notes">
            {{editor system.biography target="system.biography" engine="prosemirror" button=true editable=editable}}
        </div>

    </section>
</form>