<form class="character-sheet" autocomplete="off">
    <header class="character-header">
        <div class="portrait">
            <h1>Character Portrait</h1>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="imagen actor"/>
            <h1>Resistances</h1>
            <div class="resistances-container">
                <div class="resistances">
                    <img src="{{varImage system.resistances.slash 'health' 'slash'}}" alt="slash" >
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.slash}}" data-dtype="Number" disabled/>
                </div>
                <div class="resistances">
                    <img src="{{varImage system.resistances.slash 'stagger' 'slash'}}" alt="stagger_slash">
                    <input type="text" name="system.resistances.pierce" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.slash}}" data-dtype="Number" disabled/>
                </div>
                <div class="resistances">
                    <img src="{{varImage system.resistances.pierce 'health' 'pierce'}}" alt="pierce">
                    <input type="text" name="system.resistances.blunt" data-tooltip="x{{system.resistances.pierce}}"
                           value="{{resistancetext system.resistances.pierce}}" data-dtype="Number" disabled/>
                </div>
                <div class="resistances">
                    <img src="{{varImage system.resistances.stagger_pierce 'stagger' 'pierce'}}" alt="stagger_pierce">
                    <input type="text" name="system.resistances.stagger_slash" data-tooltip="x{{system.resistances.stagger_pierce}}"
                           value="{{resistancetext system.resistances.stagger_pierce}}" data-dtype="Number" disabled/>
                </div>
                <div class="resistances">
                    <img src="{{varImage system.resistances.stagger_blunt 'health' 'blunt'}}" alt="blunt">
                    <input type="text" name="system.resistances.stagger_pierce" data-tooltip="x{{system.resistances.stagger_blunt}}"
                           value="{{resistancetext system.resistances.stagger_blunt}}" data-dtype="Number" disabled/>
                </div>
                <div class="resistances">
                    <img src="{{varImage system.resistances.stagger_blunt 'stagger' 'blunt'}}" alt="stagger_blunt">
                    <input type="text" name="system.resistances.stagger_blunt" data-tooltip="x{{system.resistances.stagger_blunt}}"
                           value="{{resistancetext system.resistances.stagger_blunt}}" data-dtype="Number" disabled/>
                </div>
            </div>
            <div class="rank">
                <table>
                    <tr>
                        <td>Rank</td>
                        <td colspan="3">
                            <input type="text" name="system.rank" value="{{system.rank}}" data-dtype="Number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td>XP</td>
                        <td>
                            <input type="number" name="system.xp" value="{{system.xp}}" data-dtype="Number">
                        </td>
                        <td>Level</td>
                        <td>
                            <input type="number" name="system.level" value="{{system.level}}" data-dtype="Number" disabled/>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="all-all-abilities">
            <h1>Stats</h1>
            <div class="all-abilities">
                {{#each actor.system.abilities as |ability key|}}
                    <div class="abilities">
                        <h1 class="ability-{{key}}">{{ability.label}}</h1>
                        <img src="{{ability.img}}" alt="{{ability.label}}">
                        <label class="ability-label">
                            <span width="20px"></span>
                            <input type="number" value="{{ability.value}}" data-dtype="Number"
                                   name="system.abilities.{{key}}.value" disabled/>
                            <span class="ability-mod rollable" data-roll="2d6+@abilities.{{key}}.mod"
                                  data-ability="{{key}}"
                                  data-label="{{localize (lookup @root.config.abilities key)}}"><img
                                    src="{{asset 'assets/imgs/Die_Bg.png'}}" alt="roll 2d6"></span>
                        </label>
                    </div>
                {{/each}}
            </div>
            <div class="basic-stats">
                <table>
                    <tr>
                        <td>Health</td>
                        <td>
                            <input type="number" name="system.health_points" min="0" max="{{system.health_points.max}}" value="{{system.health_points.value}}" oninput="this.value = Math.clamp(this.value, this.min, this.max)" data-dtype="Number">
                        </td>
                        <td>
                            <input type="number" name="system.health_points.max" value="{{system.health_points.max}}" data-dtype="Number" disabled/>
                        </td>
                        <td>Stagger Res</td>
                        <td>
                            <input type="number" name="system.stagger_threshold" min="0" max="{{system.stagger_threshold.max}}" value="{{system.stagger_threshold.value}}" oninput="this.value = Math.clamp(this.value, this.min, this.max)" data-dtype="Number">
                        </td>
                        <td>
                            <input type="number" name="system.stagger_threshold.max" value="{{system.stagger_threshold.max}}" data-dtype="Number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td>Mentality</td>
                        <td>
                            <input type="number" name="system.mentality_points" min="0" max="{{system.sanity_points.max}}" value="{{system.sanity_points.value}}" oninput="this.value = Math.clamp(this.value, this.min, this.max)" data-dtype="Number">
                        </td>
                        <td>
                            <input type="number" name="system.sanity_points.max" value="{{system.sanity_points.max}}" data-dtype="Number" disabled/>
                        </td>
                        <td>Light</td>
                        <td>
                            <input type="number" name="system.light" min="0" max="{{system.light.max}}" value="{{system.light.value}}" oninput="this.value = Math.clamp(this.value, this.min, this.max)" data-dtype="Number">
                        </td>
                        <td>
                            <input type="number" name="system.light.max" value="{{system.light.max}}" data-dtype="Number" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td>Att</td>
                        <td>
                            <input type="number" name="system.attack_points" value="{{system.attack_modifier}}" data-dtype="Number" disabled/>
                        </td>
                        <td>Def</td>
                        <td>
                            <input type="number" name="system.defense_points" value="{{system.block_modifier}}" data-dtype="Number" disabled/>
                        </td>
                        <td>Evd</td>
                        <td>
                            <input type="number" name="system.evasion_points" value="{{system.evade_modifier}}" data-dtype="Number" disabled/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </header>
</form>