<form class="character-sheet" autocomplete="off">
    <header class="character-header">
        <div class="portrait">
            <h1>Character Portrait</h1>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="imagen actor"/>
            <div class="resistances-container">
                <div>
                    <img src="{{asset 'assets/imgs'}}" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.slash}}" data-dtype="Number" disabled/>
                </div>
                <div>
                    <img src="" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.pierce}}" data-dtype="Number" disabled/>
                </div>
                <div>
                    <img src="" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.blunt}}" data-dtype="Number" disabled/>
                </div>
                <div>
                    <img src="" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.stagger_slash}}" data-dtype="Number" disabled/>
                </div>
                <div>
                    <img src="" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.stagger_pierce}}" data-dtype="Number" disabled/>
                </div>
                <div>
                    <img src="" alt="slash" style="width:32px; height:32px; margin-right:8px;">
                    <input type="text" name="system.resistances.slash" data-tooltip="x{{system.resistances.slash}}"
                           value="{{resistancetext system.resistances.stagger_blunt}}" data-dtype="Number" disabled/>
                </div>
            </div>
        </div>
        <div class="all-all-abilities">
            <h1>Stats</h1>
            <div class="all-abilities">
                {{#each actor.system.abilities as |ability key|}}
                    <div class="abilities">
                        <h1 class="ability-{{key}}">{{ability.label}}</h1>
                        <img src="{{ability.img}}" alt="{{ability.label}}">
                        <label class="ability-label">
                            <span width="20px"></span>
                            <input type="number" value="{{ability.value}}" data-dtype="Number"
                                   name="system.abilities.{{key}}.value" disabled/>
                            <span class="ability-mod rollable" data-roll="2d6+@abilities.{{key}}.mod"
                                  data-ability="{{key}}"
                                  data-label="{{localize (lookup @root.config.abilities key)}}"><img
                                    src="{{asset 'assets/Images/Die_Bg.png'}}" alt="roll 2d6"></span>
                        </label>
                    </div>
                {{/each}}
            </div>
        </div>
    </header>
</form>