<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-3col">
                <div class="resource flex-group-center">
                    <label for="system.attributes.health_points.value" class="resource-label">{{localize_health}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input class= "clamp-attribute" type="number" name="system.attributes.health_points.value" min =0 max ="{{system.attributes.health_points.max}}" value="{{system.attributes.health_points.value}}" data-dtype="Number">
                        <span> / </span>
                        <input type="number" name="system.attributes.health_points.max" value="{{system.attributes.health_points.max}}" data-dtype="Number" disabled>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.stagger_threshold.value" class="resource-label">{{localize_stagger}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input class= "clamp-attribute" type="text" name="system.attributes.stagger_threshold.value" value="{{system.attributes.stagger_threshold.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.attributes.stagger_threshold.max" value="{{system.attributes.stagger_threshold.max}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.mentality.value" class="resource-label">{{localize_mentality}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input class= "clamp-attribute"  type="text" name="system.attributes.mentality.value" value="{{system.attributes.mentality.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.attributes.mentality.max" value="{{system.attributes.mentality.max}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.light.value" class="resource-label">{{localize_light}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input class= "clamp-attribute" type="text" name="system.attributes.light.value" value="{{system.attributes.light.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.attributes.light.max" value="{{system.attributes.light.max}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.rank.value" class="resource-label">{{localize_rank}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.rank.value" value="{{system.attributes.rank.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.level.value" class="resource-label">{{localize_level}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.level.value" value="{{system.attributes.level.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.xp.value" class="resource-label">{{localize_xp}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input class= "clamp-attribute" type="text" name="system.attributes.xp.value" value="{{system.attributes.xp.value}}" data-dtype="Number"/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.attack_modifier.value" class="resource-label">AttackModifier</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attack_modifier.value" value="{{system.attributes.attack_modifier.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.block_modifier.value" class="resource-label">BlockModifier</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.block_modifier.value" value="{{system.attributes.block_modifier.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.evade_modifier.value" class="resource-label">EvadeModifier</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.evade_modifier.value" value="{{system.attributes.evade_modifier.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.equipment_limit.value" class="resource-label">Equipmentlimit</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.equipment_limit.value" value="{{system.attributes.equipment_limit.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label for="system.attributes.tool_slots.value" class="resource-label">ToolSlots</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.attributes.tool_slots.value" value="{{system.attributes.tool_slots.value}}" data-dtype="Number" disabled/>
                    </div>
                </div>

            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="effects">Effects</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Owned Features Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            <section class="grid grid-3col">
                <aside class="sidebar">
                    <div class="abilities flexcol">
                        {{#each system.abilities as |ability key|}}
                            <div class="ability flexrow flex-group-center">
                                <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-ability="{{key}}" data-label="{{localize (lookup @root.config.abilities key)}}">
                                    {{localize (lookup @root.config.abilities key)}}
                                    <span class="dice-icon rollable" title="{{localize 'PMTTRPG.Tabs.Stats'}} Roll 2d6">
                                </span>
                                </label>
                                <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                                <span class="ability-mod rollable" data-roll="2d6+@abilities.{{key}}.mod" data-ability="{{key}}" data-label="{{localize (lookup @root.config.abilities key)}}">
                                <span class="mod-value">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                                <span class="dice-icon rollable" title="{{localize 'PMTTRPG.Tabs.Stats'}} Roll 2d6">
                                    <img class="dice-icon rollable" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
                                </span>
                            </span>
                            </div>
                        {{/each}}
                    </div>
                </aside>

                <section class="main grid-span-2">
                    {{> "systems/pmttrpg/templates/actor/parts/actor-features.hbs"}}
                </section>
            </section>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor enrichedBiography target="system.biography" engine="prosemirror" button=true editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/pmttrpg/templates/actor/parts/actor-items.hbs"}}
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/pmttrpg/templates/actor/parts/actor-spells.hbs"}}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/pmttrpg/templates/actor/parts/actor-effects.hbs"}}
        </div>

    </section>
</form>