<form id="level-up-dialog" class="wrapper" autocomplete="off">

    {{!-- Header --}}
    <div class="text">
        <h2>Level Up to {{newLevel}} (Rank: {{rank}}, Max: {{rankPlusTwo}}, Min: -1)</h2>
        <p>Distribute stat points freely (within limits). Use + and - to adjust.</p>
    </div>
    <div class="formulario">
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="ftd">-</button>
                <span class="stat-value" data-stat="ftd">{{abilities.ftd.value}}</span>
                <button type="button" class="stat-increase" data-stat="ftd">+</button>
            </div>
        </div>
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="prd">-</button>
                <span class="stat-value" data-stat="prd">{{abilities.prd.value}}</span>
                <button type="button" class="stat-increase" data-stat="prd">+</button>
            </div>
        </div>
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="jst">-</button>
                <span class="stat-value" data-stat="jst">{{abilities.jst.value}}</span>
                <button type="button" class="stat-increase" data-stat="jst">+</button>
            </div>
        </div>
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="chr">-</button>
                <span class="stat-value" data-stat="chr">{{abilities.chr.value}}</span>
                <button type="button" class="stat-increase" data-stat="chr">+</button>
            </div>
        </div>
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="ins">-</button>
                <span class="stat-value" data-stat="ins">{{abilities.ins.value}}</span>
                <button type="button" class="stat-increase" data-stat="ins">+</button>
            </div>
        </div>
        <div class="separadores">
            <img class="dice-icon" src="{{asset 'assets/Images/Die_Bg.png'}}" alt="2d6 Dice" width="32" height="32"/>
            <div class="separadores2">
                <button type="button" class="stat-decrease" data-stat="tmp">-</button>
                <span class="stat-value" data-stat="tmp">{{abilities.tmp.value}}</span>
                <button type="button" class="stat-increase" data-stat="tmp">+</button>
            </div>
        </div>
    </div>

</form>
